<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../../designs/clean/basic/style.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navigation-files">
        <details>
            <summary>Website</summary>
            <p>1.1 Point</p>
            <p>1.2 Point</p>
            <details>
                <summary>1.3 Point</summary>
                <p>3.1 Point</p>
                <p>3.2 Point</p>
                <details>
                    <summary>3.3 Point</summary>
                    <p>4.1 Point</p>
                    <p>4.2 Point</p>
                </details>
                <p>3.4 Point</p>
            </details>
            <p>1.4 Point</p>
        </details>
    </div>
</body>
</html>